html {
    box-sizing: border-box;
    --bgColorMenu: #5C76E7;
    --duration: 1s;
    background-image: linear-gradient(to right, #C5EDFF, #E6F7FF, #E6F7FF, #E6F7FF, #E6F7FF, #C5EDFF, #C5EDFF);
}

html *,
html *::before,
html *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    margin-left: 5%;
    max-width: 90%;
    align-items: center;
    justify-content: center;
    transition: background-color var(--duration);
    -webkit-tap-highlight-color: transparent;
}

.layui-layer-title {
    border-radius: 8px !important;
}

.layui-layer {
    border-radius: 8px !important;
}

.layui-card {
    box-shadow: none;
}

#tl-rtc-file-app {
    margin-top: 35px;
    border-radius: 15px;
    max-width: 90%;
    margin-left: 5%;
}

.tl-rtc-file-header-tool {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.tl-rtc-file-side-tool {
    position: absolute;
    right: 10px;
    float: right;
    top: 20%;
    display: grid;
    transition: top 0.5s;
}

.tl-rtc-file-side-tool a {
    margin-top: 20px;
}

.tl-rtc-file-side-tool a i {
    font-size: 23px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    color: black;
}

.tl-rtc-file-header-intro {
    border-radius: 15px;
    position: relative;
    top: -25px;
}

.tl-rtc-file-header-intro-txt {
    text-align: center;
    font-size: 20px;
    color: #2E2C2B;
    font-weight: bold;
}

.tl-rtc-file-header-intro-qq {
    text-align: center;
    font-size: 15px;
    color: #2E2C2B;
    font-weight: lighter;
    margin-bottom: 5px;
    margin-top: 8px;
}

.tl-rtc-file-header-intro-qq a {
    font-weight: lighter;
}

.tl-rtc-file-header-user-online {
    color: black;
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 8px;
}

.tl-rtc-file-header-user-online svg {
    width: 13px;
    height: 8px;
}

.tl-rtc-file-send-file-tool {
    cursor: pointer;
    margin: 20px 30px 20px 15%;
    max-width: 70%;
    background-color: #5C76E7;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 10px
}

.tl-rtc-file-send-file-tool-i-one {
    color: #ffffff0d;
    font-size: 70px;
    position: absolute;
    left: 35px;
}

.tl-rtc-file-send-file-tool-i-two {
    color: #ffffff0d;
    font-size: 70px;
    position: absolute;
    left: 275px;
    top: 0px;
}

.tl-rtc-file-send-file-tool-i-three {
    color: white;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: 10px;
}

.tl-rtc-file-send-file-tool-send {
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
    color: white;
    background: #7187e685;
    transition: font-size 0.3s;
}

.tl-rtc-file-send-txt-tool {
    cursor: pointer;
    margin: 20px 30px 20px 15%;
    max-width: 70%;
    background-color: #5C76E7;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 10px
}

.tl-rtc-file-send-txt-tool-i-one {
    color: #ffffff0d;
    font-size: 80px;
    position: absolute;
    left: 10px;
    top: 100px;
}

.tl-rtc-file-send-txt-tool-i-two {
    color: #ffffff0d;
    font-size: 80px;
    position: absolute;
    right: 10px;
}

.tl-rtc-file-send-txt-tool-i-three {
    color: white;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: 10px;
}

.tl-rtc-file-send-txt-tool-send {
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
    color: white;
    background: #7187e685;
    transition: font-size 0.3s;
}

.tl-rtc-file-tool-list .swiper-slide {
    text-align: center;
}

.tl-rtc-file-receive-list-icon{
    position: fixed;
    padding: 0px 10px 0px 10px;
    right: 2%;
    bottom: 2%;
    font-size: 35px;
    color: black;
}

/* .tl-rtc-file-send-file-txt-tool .swiper-slide{
    transition: all 0.3s;
} */


.tl-rtc-file-tool {
    cursor: pointer;
    background-color: rgb(248 253 255 / 45%);
    border-radius: 10px;
    display: inline-flex;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px; */
    transition: all 0.3s;
}

.tl-rtc-file-tool:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 14px;
}

.tl-rtc-file-tool i {
    color: black;
    margin: 12px 10px 10px 10px;
    transition: color 0.8s;
}

.tl-rtc-file-tool b {
    margin: 10px 10px 10px 0;
    letter-spacing: 2px;
}

.tl-rtc-file-tool-disabled,
.tl-rtc-file-tool-disabled i,
.tl-rtc-file-tool-disabled b {
    cursor: no-drop !important;
    color: #80808061 !important;
}

.tl-rtc-file-send-file-tool .layui-disabled{
    color: #d2d2d25c !important;
}


.tl-rtc-file-user-list {
    text-align: center;
    padding: 10px 10px 0 10px;
}

.tl-rtc-file-user {
    padding: 10px 20px 0px 10px;
    cursor: pointer;
    background-color: rgb(248, 253, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px;
    transition: box-shadow 0.3s;
    display: flex;
}

.tl-rtc-file-user:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 14px;
}

.tl-rtc-file-user-body {
    display: flex;
    padding-top: 10px;
}

.tl-rtc-file-send-body svg {
    position: absolute;
}

.tl-rtc-file-user-body-left {
    display: grid;
    text-align: left;
    position: relative;
    top: -15px;
    margin-right: 50px;
}

.tl-rtc-file-user-body-left-nick {
    margin: 10px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.tl-rtc-file-user-body-left-id {
    margin-left: 10px;
    font-weight: 200;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.tl-rtc-file-user-body-right {
    position: absolute;
    right: 25px;
    float: right;
    top: 36px;
}

.tl-rtc-file-user-body-right i {
    color: #00000099;
    font-size: 18px;
    position: relative;
    margin-left: 5px;
    transition: font-weight 0.3s;
}

.tl-rtc-file-user-body-right i:hover {
    font-weight: bold;
}

.tl-rtc-file-create-room-btn {
    position: fixed;
    padding: 0px 10px 0px 10px;
    left: 2%;
    bottom: 2%;
    z-index: 1000;
    color: white;
    background-color: #79b0e8;
    border: 0;
    outline: none;
    border-radius: 15px;
    font-size: 1.4rem;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 48px;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 0 0px 20px rgb(0 0 0 / 40%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .3s ease;
}

.tl-rtc-file-exit-room-btn {
    position: fixed;
    padding: 0px 10px 0px 10px;
    left: 2%;
    bottom: 2%;
    z-index: 1000;
    font-weight: bold;
    color: white;
    background-color: #b2363099;
    border: 0;
    outline: none;
    border-radius: 15px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1.4rem;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 48px;
    cursor: pointer;
    box-shadow: 0 0px 20px rgb(0 0 0 / 40%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .2s ease;
}

.tl-rtc-file-create-room-input {
    width: 0%;
    position: fixed;
    padding: 0px 15px 0px 15px;
    left: 2%;
    bottom: 2%;
    z-index: 1000;
    color: white;
    background-color: #79b0e8;
    border: 0;
    outline: none;
    border-radius: 15px;
    font-size: 1.4rem;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 48px;
    box-shadow: 0 0px 20px rgb(0 0 0 / 40%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .3s ease;
}

.tl-rtc-file-send-file-list-btn {
    position: absolute;
    padding: 0px 15px 0px 15px;
    right: 2%;
    bottom: 2%;
    z-index: 1000000;
    font-weight: bold;
    color: white;
    background-color: #3052bcb0;
    border: 0;
    outline: none;
    border-radius: 15px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1.4rem;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 0px 20px rgb(0 0 0 / 40%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .3s ease;
}

.tl-rtc-file-create-room-btn:hover,
.tl-rtc-file-exit-room-btn:hover,
.tl-rtc-file-send-file-list-btn:hover {
    box-shadow: 0 8px 35px rgba(0, 0, 0, .4);
    transition: all .2s ease;
    -webkit-tap-highlight-color: rgba(4, 32, 23, .2);
}

.tl-rtc-file-create-room-btn i,
.tl-rtc-file-exit-room-btn i,
.tl-rtc-file-send-file-list-btn i {
    font-size: 18px;
    margin-right: 10px;
}

.tl-rtc-file-create-room-btn b,
.tl-rtc-file-exit-room-btn b,
.tl-rtc-file-send-file-list-btn div {
    font-size: 14px;
    word-break: keep-all;
}

.tl-rtc-file-mask-media-list {
    position: fixed;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    background: white;
    z-index: 10000;
    box-shadow: 0 0px 20px rgb(0 0 0 / 40%);
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.tl-rtc-file-mask-send-file-list {
    position: fixed;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    top: 20%;
    left: 0;
    height: 80%;
    width: 100%;
    background: white;
    z-index: 10000;
    box-shadow: 0 0px 20px rgba(0, 0, 0, .4);
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.tl-rtc-file-choose-file-list {
    width: 100%;
    box-shadow: 0 0px 20px rgb(255 255 255 / 40%);
}

.tl-rtc-file-send-list-all {
    margin-top: 10px;
    padding-bottom: 30px;
}


.tl-rtc-file-send-list {
    text-align: center;
    padding: 10px 10px 0 10px;
}

.tl-rtc-file-send {
    padding: 10px 20px 0px 10px;
    cursor: pointer;
    background-color: rgb(248, 253, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px;
    display: flex;
    background: linear-gradient(90deg, #ffffff, #b8bff773 var(--progress), transparent 0);
    transition: all 0.3s;
}

.tl-rtc-file-send:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 14px;
}

.tl-rtc-file-send-body {
    display: flex;
    padding-top: 10px;
}

.tl-rtc-file-send-body svg{
    position: absolute;
}

.tl-rtc-file-send-body-left {
    display: grid;
    text-align: left;
    position: relative;
    top: -15px;
    left: 32px;
    margin-right: 32px;
}

.tl-rtc-file-send-body-left-nick {
    margin: 10px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    font-family: monospace;
}

.tl-rtc-file-send-body-left-id {
    margin-left: 10px;
    font-weight: 200;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
}

.tl-rtc-file-send-body-left-icon {
    margin: 10px 10px 0px;
    font-weight: 100;
    transition: font-weight 0.3s;
}

.tl-rtc-file-send-body-left-icon:hover {
    font-weight: bold;
}

.tl-rtc-file-send-body-right {
    font-family: monospace;
    position: absolute;
    right: 25px;
    float: right;
    top: 40px;
}

.tl-rtc-file-send-body-right i {
    color: #00000099;
    font-size: 18px;
    position: absolute;
    right: -10px;
    cursor: pointer;
}

.tl-rtc-file-msg-dot {
    padding: 0px 0px;
    position: absolute;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    line-height: 12px;
    right: -10px;
    top: -8px;
}

.tl-rtc-file-mask-log-list {
    position: fixed;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    background: white;
    z-index: 10000;
    box-shadow: 0 0px 20px rgb(0 0 0 / 40%);
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.tl-rtc-file-mask-log {
    text-align: center;
    border-bottom: 1px solid #f6f6f6;
    word-break: break-all;
}

.tl-rtc-file-mask-log input {
    border-radius: 4px;
    padding-right: 10px;
}

.tl-rtc-file-mask-log .tl-rtc-file-mask-log-time {
    font-size: 12px;
    text-align: left;
    font-weight: bold;
}

.tl-rtc-file-mask-log .tl-rtc-file-mask-log-time svg {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 14px;
    top: 14px;
}

.tl-rtc-file-mask-log .tl-rtc-file-mask-log-msg {
    margin: 10px 0 10px 0;
    text-align: left;
    border: 1px dashed #e2e2e2;
    border-radius: 4px;
    padding: 5px;
    background: #f1f8fe;
}


.setting-main {
    height: 100%;
    background-color: #fff;
    position: relative;
    left: 0;
    top: 0;
}

.setting-main-body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.setting-main-body ul {
    padding: 15px;
    margin: 0px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
}

.setting-main-body ul li {
    text-align: center;
    cursor: pointer;
}

.setting-main-body ul li cite {
    font-weight: bold;
    position: relative;
    top: 2px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
}

.setting-main-body ul li i {
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 2px;
    font-size: 30px;
    color: #333;
    transition: all .3s;
    -webkit-transition: all .3s;
}


/* 500px以下 */
@media screen and (max-width: 500px) {
    .tl-rtc-file-send-txt-tool-send{
        font-size: 12px;
        font-weight: bold;
    }
    .tl-rtc-file-send-file-tool-send {
        font-size: 12px;
        font-weight: bold;
    }
}
/* 480px到765px */
@media screen and (min-width: 480px) and (max-width: 765px) {
    
}
/* 765px到1280px */
@media screen and (min-width: 765px) and (max-width: 1280px) {
    
}
/** 1280px以上 */
@media screen and (min-width: 1280px) {
    
}


.tl-rtc-file-mask-media-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.tl-rtc-file-mask-media-video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: black;
    margin-bottom: 15px;
}

.tl-rtc-file-mask-media-video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tl-rtc-file-mask-media-video b{
    position: absolute;
    left: 20px;
    top: 10px;
}