html {
    box-sizing: border-box;
    --bgColorMenu : #1d1d27;
    --duration: 1s; 
}
html *,
html *::before,
html *::after {
    box-sizing: inherit;
}
body{
    margin: 0;
    margin-left: 5%;
    max-width: 90%;
    align-items: center;
    justify-content: center;
    transition: background-color var(--duration);
    -webkit-tap-highlight-color: transparent;
}
.layui-layer-title{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.layui-layer{
    border-radius: 20px;
}
#self .layui-upload-drag{
    border: 1px dashed #e2e2e2;
    background-color: unset !important;
}
#self .layui-upload-drag[lay-over]{
    border: 2px dashed #e2e2e2;
    background-color: unset !important;
}
.header-tool {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
.menu{
    display: flex;
    width: 90%;
    font-size: .8em;
    padding: 0 2.85em;
    bottom: 0;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--bgColorMenu);
    position: fixed;
    z-index: 1000;
    transition: background-color 0.8s;
}
.menuItem{
    all: unset;
    flex-grow: 1;
    z-index: 80;
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0.55em 0 0.85em;
    transition: transform var(--duration);
}
.menuItem::before{
    content: "";
    z-index: -1;
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: background-color 0.8s;
    transition: background-color var(--duration), transform var(--duration);
}
.menuItem.active {
    transform: translate3d(0, -.8em , 0);
}
.menuItem.active::before{
    transform: scale(1);
    background-color: var(--bgColorMenu);
}

.menuLowBackground{
    transition: background-color 0.8s;
    background-color: #1d1d277a !important;
}

.menuLowBackground .menuItem::before{
    transition: background-color 0.8s;
    background-color: #4f4f5a7a !important;
}

.icon{
    width: 2.6em;
    height: 2.6em;
    stroke: white;
    fill: transparent;
    stroke-width: 1pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
    
}
.menuItem.active .icon {
    animation: strok 1.5s reverse;
}
@keyframes strok {
    100% {
        stroke-dashoffset: 400;
    }
}
.menuBorder{
    left: 0;
    bottom: 99%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu);
    transition: background-color 0.8s;
    background-color: var(--bgColorMenu);
    transition: transform var(--duration);
}
#fileApp .cusInput{
    border-radius: 10px;
    width: 70%;
    margin-left: 15%;
    height: 54px;
    padding: 0 10px;
    font-size: 16px;
    font-family: "微软雅黑";
    border: none;
    color: #332828;
    vertical-align: middle;
    outline: none;
    overflow: hidden;
    background-color: #e9e9e9;
}
#fileApp .maskBottom{
    position: fixed;
    top: 50%;
    left: 0;
    height: 50%;
    width: 100%;
    background: white;
    z-index: 10000;
    box-shadow: 0 0px 20px rgba(0,0,0,.4);
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

#fileApp .maskRight{
    position: fixed;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    background: white;
    z-index: 10000;
    box-shadow: 0 0px 20px rgb(0 0 0 / 40%);
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.sendTxt{
    background-color: var(--bgColorBody);
    margin-top: -38px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: solid 1px;
    width: 50%;
}

.setting-main{
    height: 100%;
    background-color: #fff; 
    position: relative; 
    left: 0;  
    top: 0;
}

.setting-main-body{
    position: relative; 
    width: 100%; 
    height: 100%; 
    overflow: hidden;
}

.setting-main-body ul{
    padding: 15px;
    margin: 0px; 
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: #f8f8f8; 
    transition-duration: .3s; 
    -webkit-transition-duration: .3s;
}

.setting-main-body ul li{
    text-align: center;
    cursor: pointer;
    margin-bottom: 15px;
}

.setting-main-body ul li cite {
    font-weight: bold;
    position: relative; 
    top: 2px; 
    display: block; 
    color: #666; 
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap; 
    font-size: 14px;
}

.setting-main-body ul li i {
    display: inline-block; 
    width: 100%; 
    height: 60px; 
    line-height: 60px; 
    text-align: center; 
    border-radius: 2px; 
    font-size: 30px; 
    color: #333; 
    transition: all .3s; 
    -webkit-transition: all .3s;
}

#fileApp table tr td span{
    word-break: break-all;
}
#fileApp .exitBtn{
    position: absolute;
    right: 20%;
}
#fileApp .roomClass{
    margin-top: 5%;
    transition :  margin-top 0.5s;
}
#fileApp .roomClass button{
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 7rem;
    height: 3rem;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 0 #CECFD1;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
    margin-left: 20px;
    margin-right: 20px;
}
#fileApp .roomClass button[disabled]{
    border: 1px solid #e6e6e6;
    background-color: #FBFBFB;
    color: #C9C9C9;
    cursor: not-allowed;
    opacity: 1;
}
#fileApp .roomClass button:hover{
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}
#fileApp .roomClass .center{
    padding: 10px;
    display: inline-flex;
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}
#fileApp .roomClass .mobileCenter{
    padding: 10px;
    display: inline-flex;
    width: 100%;
    margin-top: 20px;
}
#fileApp #self{
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}
#fileApp #self span{
    margin-bottom: 10px;
}
#fileApp #self input{
    margin-bottom: 10px;
    width: 72px;
}
#fileApp #self button{
    margin-bottom: 10px;
}
.sendFileBtn {
    position: fixed;
    padding: 0 25px;
    right: 20px;
    bottom: 80px;
    z-index: 1000000;
    color: #0d1322;
    background-color: #3be8b0;
    border: 0;
    outline: none;
    border-radius: 25px;
    font-size: 1.4rem;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 0 0px 20px rgb(0 0 0 / 40%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .2s ease;
}
.sendFileBtn-disable {
    margin-left: 30%;
    border: 0;
    padding: 0 25px;
    outline: none;
    width: 40%;
    border-radius: 25px;
    font-size: 1.4rem;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 0 0px 20px rgba(0,0,0,.4);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sendFileBtn:hover{
    box-shadow: 0 8px 35px rgba(0,0,0,.4);
    transition: all .2s ease;
    -webkit-tap-highlight-color: rgba(4,32,23,.2);
}

.side-shadown-rigth{
    border-radius: 50%;
    position: absolute;
    width: 10px;
    height: 100%;
    right: 0;
    background: -webkit-gradient(linear,left top,right top,from(hsla(0,0%,94.1%,0)),to(rgb(155 90 9)));
    background: -webkit-linear-gradient(left,hsla(0,0%,94.1%,0),rgb(155 90 9));
    background: -o-linear-gradient(left,hsla(0,0%,94.1%,0) 0,rgb(155 90 9) 100%);
    background: linear-gradient(270deg,hsla(0,0%,94.1%,0),rgb(155 90 9));
    opacity: .5;
}

.side-shadown-left{
    border-radius: 50%;
    position: absolute;
    width: 10px;
    height: 100%;
    left: 0;
    background: -webkit-gradient(linear,left top,right top,from(hsla(0,0%,94.1%,0)),to(rgb(155 90 9)));
    background: -webkit-linear-gradient(left,hsla(0,0%,94.1%,0),rgb(155 90 9));
    background: -o-linear-gradient(left,hsla(0,0%,94.1%,0) 0,rgb(155 90 9) 100%);
    background: linear-gradient(270deg,hsla(0,0%,94.1%,0),rgb(155 90 9));
    opacity: .5;
}

.tool{
    position: absolute;
    right: 10px;
    float: right;
    top: 30%;
    display: grid;
    transition: top 0.5s;
}

.tool a{
    margin-top: 10px;
}

.tool svg{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#refresh {
    cursor: pointer; 
    left: 75%;
    position: absolute;
    font-size: 24px;
    margin-top: -40px;
    transition: left .5s;
}

.onlineCount{
    text-align: center;
    font-size: 12px;
    color: beige;
    margin-bottom: 5px;
    margin-top: 8px;
}

.userRoom{
    padding-left: 15px !important;
    width: 80%;
    margin-left: 10% !important;
    height: 120px;
    display: inline-flex;
}
.userBlock{
    cursor: pointer !important;
    margin: 0  0 15px !important;
    display: grid !important;
}

.fileRoom{
    margin-top: 1%;
    width: 100%;
    height: auto;
    display: inline-flex;
}
.fileBlock{
    margin-right: 15px !important;
    cursor: pointer !important;
    display: grid !important;
    color: bisque;
}

video{
    width: 100%;
}

.mediaShareRoom{
    border-radius: 20px;
    padding-left: 15px !important;
    width: 80%;
    margin-left: 10% !important;
    margin-top: 8%;
    display: inline-flex;
}
.mediaShareBlock{
    width: 48% !important;
    margin-right: 1% !important;
    cursor: pointer !important;
    display: grid !important;
    color: bisque;
}

.chooseFileName {
    word-break: break-all;
    padding: 7px 3px 7px 3px;
    background: rgb(255, 180, 87);
    border-radius: 6px;
    display: grid;
    margin: 10px auto;
    margin-top: 20px;
    transition: all 1s;
}
.remoteId{
    width: 63px;
    margin-top: -20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    right: 0;
}

.sendFilePannel{
    transition: all .2s ease-in-out;
    border-radius: 5px;
    box-shadow: 0 8px 35px rgba(0,0,0,.4);
}
.sendFileHeader{
    border-bottom: 1px solid #fbe1e1;
    padding: .3rem 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 15px;
}
.sendFiles{
    margin: 5px 0;
    max-height: 330px;
    padding: 0 0px 10px;
}
.sendFile{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    max-height: 340px;
    padding: 5px 5px 4px;
    overflow-x: hidden;
    margin: 5px 11px;
}
.sendFileType{
    margin-right: 1rem;
    color: #636979;
}
.sendFileInfo{
    text-align: left;
    -ms-flex: 1;
    flex: 1;
    width: 60%;
    margin-right: 1rem;
}
.sendFileName{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    width: 100%;
}
.sendFileOther{
    margin: 0;
    font-weight: 500;
    color: #636979;
    font-size: 12px;
}
.sendInfoBackgroud{
    display: none;
    background: #ff00002e;
    width: 116px;
    height: 40px;
    position: absolute;
    padding: 25px;
    border-radius: 3px;
    margin-left: -20px;
}
.logs{
    text-align: center;
    border-bottom: 1px solid #f6f6f6;
    word-break: break-all;
}
.logs .logs-time{
    font-size: 12px; 
    text-align: left; 
    font-weight: bold;
}

.logs .logs-time svg{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 14px;
    top: 14px;
}

.logs .logs-msg{
    margin: 10px 0 10px 0;
    text-align: left;
    border: 1px dashed #e2e2e2; 
    border-radius: 4px; 
    padding: 5px; 
    background: #f1f8fe;
}

.infoMsg{
    width: 70%;
    margin-left: 15%;
    text-align: center;
    font-size: 0.1rem;
}

.layui-table td, .layui-table th{
    font-size: 12px !important;
}

.layui-btn-disabled, .layui-btn-disabled:active, .layui-btn-disabled:hover {
    border-color: #eee!important;
    background-color: #fbfbfb!important;
    color: #d2d2d2!important;
    cursor: not-allowed!important;
    opacity: 1;
}

.layui-layedit {
    border: none;
    border-radius: 20px;
    box-shadow: 0 0px 20px rgb(255 255 255 / 40%);
}

.new-dot {
    padding: 0px 3px;
    position: absolute;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    font-size: 10px;
    line-height: 18px;
    right: -5px;
}

.toolList {
    transition: all 0.5s ease-in-out;
    position: relative;
    right: 0;
    width: 40px;
    height: 40px;
    display: grid;
}

.toolList a {
    z-index: 10000;
    position: absolute;
    font-size: 24px;
    color: #d8c9c9;
    background-color: rgb(244 129 80 / 0%);
    cursor: pointer;
    transition: transform 0.8s ease-in-out;
}

.toolList a:hover {
    color: #fff;
}

.toolList.fan-out a {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#closeTool{
    height: 32px;
    transform: translate(0%, -50%) scale(1);
    width: 40px;
    top: 15px;
    right: 1px;
    background-color: rgb(75, 75, 74);
}

.toolList.fan-out a:nth-child(1) {
    transform: translate(-20%, 0%) rotate(-180deg) translateY(-100px) scale(1);
}

.toolList.fan-out a:nth-child(2) {
    transform: translate(-20%, 0%) rotate(-150deg) translateY(-100px) scale(1);
}

.toolList.fan-out a:nth-child(3) {
    transform: translate(-20%, 0%) rotate(-120deg) translateY(-100px) scale(1);
}

.toolList.fan-out a:nth-child(4) {
    transform: translate(-20%, 0%) rotate(-90deg) translateY(-100px) scale(1);
}

.toolList.fan-out a:nth-child(5) {
    transform: translate(-20%, 0%) rotate(-60deg) translateY(-100px) scale(1);
}

.toolList.fan-out a:nth-child(6) {
    transform: translate(-20%, 0%) rotate(-30deg) translateY(-100px) scale(1);
}

.toolList.fan-out a:nth-child(7) {
    transform: translate(-20%, 0%) rotate(0deg) translateY(-100px) scale(1);
}

.toolDisabled i, .toolDisabled svg path{
    cursor: no-drop !important;
    color: grey !important;
    fill: grey !important;
}


/* 480px以下 */
@media screen and (max-width: 480px) {
    #fileApp .exitBtn{
        position: absolute;
        right: 10%;
    }
    #fileApp .roomClass button{
        width: 6rem;
        height: 2.5rem;
    }
    #fileApp .roomClass .center{
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
    #refresh{
        left: 70%;
    }
}
/* 500px以下 */
@media screen and (max-width: 500px) {
}
/* 480px到765px */
@media screen and (min-width: 480px) and (max-width: 765px) {
}
/* 765px到1280px */
@media screen and (min-width: 765px) and (max-width: 1280px) {
    #refresh{
        left: 77%;
    }
}
/** 1280px以上 */
@media screen and (min-width: 1280px) {
    #refresh{
        left: 79%;
    }
}